:root {
  --white: #FFFFFF;
  --black: #1E2022;
  --main-blue: #487FF7;
  --font-light: #838F9C;
  --dark-blue-background: #253459;
  --light-background: #FAFBFF;
  --success: #5BC7A8;

  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-100: 6.25rem;
  --size-150: 9.375rem;

}

*,
::after,
::before {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--white);
  font-family: 'Noto Sans', sans-serif;
}

.container {
   width: 100%;
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
 }

p {
  margin-top: 0;
}

h2 {
  
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

header {
  /* width: 1220px;
  margin: auto; */
  margin-left: 320px;
  background-color: var(--light-background);
}

.default-btn {
  width: 85px;
  height: 35px;
  background-color: var(--main-blue);
  border: solid 1px transparent;
  border-radius: 20px;
  color: var(--white);
}