 /* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 500;
  transition: ease-in-out .3s;
  padding: 1rem;
  margin-top: 0.3125rem;
  margin-bottom: -5.125rem;
}

.main-header {
  width: 100%;
  padding-left: 20.625rem;
  padding-right: 20.625rem;
  display: flex;
}

.navbar.sticky {
  background: white;
  box-shadow: 0px 0px 20px rgba(48, 63, 100, 0.2);
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.navbar.sticky .navbar-toggler span, 
.navbar.sticky .navbar-brand {
  color: #666;
}

.navbar-toggler {
  position: absolute;
  right: var(--size-20);
  top: var(--size-30);
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-toggler span {
    color: #666;
    font-size: var(--size-20);
    cursor: pointer;
    pointer-events: none;
}

[aria-controls="navbarDropdown"] {
  display: none;
}
.navbar-nav {
  display: flex;
  align-items: center;
}
.navbar .container {
  display: flex;
  align-items: center;
}

.navbar-brand {
    margin-right: auto;
    font-size: 2rem;
    font-weight: 700;
    /* width: 100%; */
    transition: ease-in-out .3s;
    color: #666;
}
.navbar-brand img {
  width: var(--size-100);
}

.nav-link a {
  color: var(--font-light);
  font-size: .8125rem;
  margin-right: var(--size-40);
  line-height: var(--size-20);
}

.nav-link a:hover{
  color: var(--main-blue);
}

/* MASTHEAD */
.masthead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--font-light);
  padding-right: 20.625rem;
  margin-bottom: 0.3125rem;
}

.mast-left i {
 padding-left: 1.5rem;
}

.fas {
  margin-right: var(--size-14);
  font-size: var(--size-10);
}

.fa-chevron-down {
  margin-left: var(--size-10);  
}

/* MAIN HEADER */

.main-info {
  margin-top: 7.125rem;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}
.main-header-info {
  margin-left: var(--size-18);
  margin-right: var(--size-40);
  min-width: 25rem;
}

.main-header-info h1 {
  font-size: 3.25rem;
}

.play-video-btn {
  width: 6.5625rem;
}

.main-header-info div {
  margin-top: var(--size-20);
  margin-bottom: var(--size-20);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header-info div a,
.main-header-info div .fa-chevron-right {
  color: var(--main-blue);
}

.main-header-info div .fa-chevron-right {
  margin-right: 10.625rem;
}

.stupid-dots {
  width: 50rem;
  margin: 0rem 21.25rem 0rem 31.25rem;
}
.logo-dots-1,
.logo-dots-2,
.logo-dots-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.logo-dots-1 {
  margin-bottom: 3.125rem;
  width: 100%;
}

.logo-dots-2 {
  width: 15.625rem;
  margin-bottom: 4.6875rem;
}

.logo-dots-3 {
  width: 18.75rem;
  margin-bottom: var(--size-20);
}

.google {
  max-width: 5rem;
  position: absolute;
  top: 17%;
  right: 39%;
  transition: ease-in-out .2s;
}

.google:hover {
  transform: translateY(var(--size-10));
}

.google img {
  padding: 0.75rem;
  max-width: 3.9375rem;
  min-width: 1.8125rem;
  vertical-align: middle;
}

.blue-a {
  max-width: var(--size-100);
  position: absolute;
  top: 21%;
  right: 29%;
  transition: ease-in-out .2s;
}

.blue-a:hover {
  transform: translateY(0.9375rem);
}

.blue-a img {
  padding: var(--size-20);
  max-width: 5rem;
  min-width: 1.8125rem;
  vertical-align: middle;
}

.asana { 
  max-width: var(--size-100);
  position: absolute;
  top: 19%;
  right: 17%;
  transition: ease-in-out .2s;
}

.asana:hover {
  transform: translateX(-0.625rem);
}

.asana img {
  padding: var(--size-20);
  max-width: 5rem;
  min-width: 1.8125rem;
  vertical-align: middle;
}

.pay-pal {
  max-width: var(--size-100);
  position: absolute;
  top: 35%;
  right: 39%;
  transition: ease-in-out .2s;
}

.pay-pal:hover {
  transform: translateX(var(--size-10));
}

.pay-pal img {
  padding: 1.1875rem;
  max-width: 4.9375rem;
  min-width: 1.8125rem;
  vertical-align: middle;
}

.weave {  
  max-width: var(--size-100);
  position: absolute;
  top: 35%;
  right: 24%;
  transition: ease-in-out .2s;
}

.weave:hover {
  transform: translateY(var(--size-10));
}

.weave img {
  padding: var(--size-20);
  max-width: 5.625rem;
  min-width: 1.8125rem;
  vertical-align: middle;
}

.google-ads {
  max-width: 100px;
  position: absolute;
  top: 50%;
  right: 33%;  
  transition: ease-in-out .2s;
}

.google-ads:hover {
  transform: translateX(0.3125rem);
}

.google-ads img {
  padding: 0.3125rem;
  max-width: 4.0625rem;
  min-width: 1.8125rem;
  vertical-align: middle;
}

.calendar {
  max-width: var(--size-100);
  position: absolute;
  top: 52%;
  right: 17%;
  transition: ease-in-out .2s;
}

.calendar:hover {
  transform: translateX(-0.9375rem);
}

.calendar img {
  padding: var(--size-20);
  max-width: 5rem;
  min-width: 1.8125rem;
  vertical-align: middle;
}

.logo-container {
  flex: 1;
  background-color: var(--white);
  border-radius: 50%;
  margin-right: 1.875rem;
  box-shadow: 0.0625rem var(--size-10) 0.9375rem lightgrey;
}

/* BENEFITS */

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 18.75rem;
}

.benefits h2 {
  font-size: var(--size-40);
}

.benefits span {
  color: var(--font-light);
}

.benefit-cards {
  width: 65%;
  margin-top: 3.75rem;
  display: flex;
  justify-content: space-between;
}

.benefit-card {
  width: 17.1875rem;
  box-shadow: 0rem 0.9375rem var(--size-20) rgb(31 73 125 / 10%);
  border-radius: 0.3125rem;
  padding: var(--size-16);
  transition: ease-in-out .5s;
  margin: var(--size-10);
}

.benefit-card:hover {
  transform: scale(1.05);
}

.benefit-card img {
  width: 4.375rem;
}

.benefit-card p {
  color: var(--font-light);
}

.benefit-card a,
.benefit-card i {
  color: var(--main-blue);
  margin: 0.1875rem;
}

.benefit-card .success {
  background-color: var(--success);
  color: var(--white);
  border-radius: var(--size-20);
  padding: 0rem var(--size-10);
  margin-right: 0.1875rem;
  margin-left: 0.1875rem;
  display: inline;
  font-size: 0.8rem;
}

/* DIFFERENT SECTION */
 .different-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--light-background);
   margin: auto;
   margin-top: var(--size-100);
   width: 65%;
   height: 25rem;
   border-radius: var(--size-10);
  }

  .get-started {
    width: 7.8125rem;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    padding-right: 0;
  }

  .info {
    margin-left: 3.75rem;
  }

  .different-section .different-img {
    margin-top: 5.5rem;
    box-shadow: -0.625rem -0.625rem var(--size-20) rgb(31 73 125 / 10%);
  }

 .different-section img {
  width: 31.25rem;
 }

 /* WHY FRONT SECTION */

.why-front {
  margin-top: var(--size-150);
  display: flex;
  flex-direction: column;
}

.why-info,
.why-info span {
  text-align: center;
}

.why-info h2 {
  font-size: var(--size-40);
}

.why-info,
.why-dots,
.why-img,
.hubspot-section,
.worlds-best {
  margin: auto;
}

.why-info span {
color: var(--font-light);
margin: auto;
}

.why-dots {
  width: 40%;
  margin-top: 5rem;
  margin-bottom: var(--size-30);
}

.why-dots hr {
  width: 20%;
  opacity: 50%;
}

.why-dot-dots {
  display: flex;
  align-items: center;
}

.why-dot {
  display: flex;
  align-items: center;
  width: var(--size-30);
  height: var(--size-30);
  border-radius: 50%;
  background-color: #EDF3FF;
  color: var(--main-blue);
}

.why-dot i {
  font-size: 0.3125rem;
  margin: auto;
}

.why-dot-words {
  margin: auto;
  width: 40%;
  display: flex;
  justify-content: center;
}

.dot-one {
  position: absolute;
  left: 28%;
}
.dot-two {
  position: absolute;
  left: 41%;
}
.dot-three {
  position: absolute;
  left: 52%;
}
.dot-four {
  position: absolute;
  left: 67%;
}

.why-dot-words:nth-child(2) {
  margin-left: var(--size-50);
}

.why-img {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  border-radius: 0.3125rem;
}

.why-img img{
 width: 55%;
 border-radius: 0.3125rem;
}

.fa-play {
  margin: auto;
}

.why-play-button {
  display: flex;
  width: var(--size-50);
  height: var(--size-50);
  background-color: var(--white);
  border-radius: 50%;
  position: absolute;
  margin-top: 13.625rem;
  z-index: 5;
  box-shadow: 0.0625rem 0.125rem var(--size-20) rgb(31 73 125 / 20%);
  transition: ease-in .3s;
}

.why-play-button:hover {
  transform: scale(1.5);
  background-color: var(--main-blue);
}

.hubspot-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 7.5rem;
}

.hubspot-img {
  margin-right: -8.375rem;
}

.hubspot-img img {
  /* margin-left: 10rem; */
  padding-bottom: var(--size-20);
  padding-left: var(--size-20);
  height: 17.5rem;
  margin-top: 17.5rem;
  margin-right: var(--size-10);
  z-index: 1;
}

.hubspot-div-2 {
  height: 11.875rem;
  border-left-style: dotted;
  border-width: 0.125rem;
  border-color: rgb(131, 128, 128);
  border-bottom-style: dotted;
}

.hubspot-section .bussiness-woman {
  width: 25rem;
  margin-right: 5rem;
  padding-left: var(--size-20);
  padding-bottom: var(--size-20);
  z-index: 5;
}

.hubspot-info span {
  line-height: var(--size-30);
}

.hubspot-info img {
  width: var(--size-100);
  margin-bottom: var(--size-40);
}

.hubspot-info h4 {
  margin-top: var(--size-30);
  margin-bottom: -0.0625rem;
}

.hubspot-info p {
  font-size: var(--size-10);
  color: var(--font-light)
}

.worlds-best {
  margin: auto;
  margin-top: var(--size-150);
  width: 100%;
}

.worlds-best h3 {
  color: var(--font-light);
  text-align: center;
  font-size: 0.9375rem;
  margin-bottom: var(--size-50);
}

.best-logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75rem;
  margin: auto;
}

.best-logos img {
  width: var(--size-100);
}

/* PRICING SECTION */

.pricing {
  margin-top: var(--size-200);
}

.pricing-info {
  text-align: center;
  margin-bottom: var(--size-100);
}

.pricing-info h3 {
  font-size: var(--size-40);
  margin-bottom: var(--size-10);
}

.pricing-info span {
  color: var(--font-light);
}

.pricing-card-section {
  display: flex;
  align-items: center;
  justify-content: center;

}

.big-pricing-card {
  width: 21.875rem;
  box-shadow: 0.0625rem 1.125rem var(--size-20) rgb(31 73 125 / 10%);
  padding: var(--size-30);
  margin-right: var(--size-30);
  border-radius: 0.3125rem;
  transition: ease-in-out .5s;
}

.big-pricing-card h2 {
  font-size: var(--size-50);
  margin-bottom: var(--size-16);
}

.big-pricing-card h2 span {
  font-size: var(--size-16);
  font-style: none;
}

.big-pricing-card hr {
  opacity: 40%;
  margin-bottom: var(--size-20);
}

.big-pricing-card p {
  color: var(--font-light);
}

.pricing-btn {
  width: 7.5rem;
  padding-left: var(--size-10);
  margin-top: var(--size-30);
}

.cc {
  font-size: 0.75rem;
}


.pricing-benefits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  width: 39.5rem;
  height: 26rem;
}

.pricing-benefits div {
  margin: var(--size-30);
  transition: ease-in-out;
}

.components:hover {
  cursor: pointer;
  border-bottom: solid 1px rgb(72, 127, 247, 50%);
}

.img-included:hover {
  cursor: pointer;
  border-bottom: solid 1px rgb(72, 127, 247, 50%);
} 

.cancel:hover {
  cursor: pointer;
  border-bottom: solid 1px rgb(72, 127, 247, 50%);
}

.money-back:hover {
  cursor: pointer;
  border-bottom: solid 1px rgb(72, 127, 247, 50%);
}

.pricing-benefits p {
  font-size: var(--size-14);
  margin-top: -0.875rem;
  color: var(--font-light);
} 


.pricing-benefits img {
  width: var(--size-40);
}

/* HIRE US SECTION */
.hire-us {
  margin: auto;
  margin-top: var(--size-150);
  width: 83.55rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-blue-background);
}

.hire-us-info {
  color: var(--white);
  width: 21.875rem;
  margin: var(--size-40);
}

.hire-us-info h3 {
  font-size: var(--size-40);
  font-weight: lighter;
  margin-bottom: var(--size-10);
}

.hire-us-info hr {
  float: left;
  width: 50%;
  margin-right: 50%;
  opacity: 50%;
  margin-top: var(--size-30);
  margin-bottom: var(--size-30);
}

.hire-us-info span {
  margin-top: var(--size-30);
  margin-bottom: var(--size-30);
  font-weight: lighter;
  font-size: var(--size-14);
}

.hr-final-span {
  font-size: var(--size-10);
}

.hire-us-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--size-200);
  margin-top: var(--size-40);
}

.hire-us-icons img {
  width: var(--size-50);
  border-radius: 50%;
  transition: ease-in-out .25s;
}

.hire-us-icons img:hover {
  transform: scale(1.25);
}

.hire-us-form {
  width: 25rem;
  padding: var(--size-30);
  background-color: var(--white);
  border-radius: 0.3125rem;
  margin-top: var(--size-40);
  margin-bottom: var(--size-40);
}

form {
  text-align: center;
}

#firstName,
#lastName,
#workEmail,
#companyWebsite,
.hire-us-form select {
  font-family: 'Noto Sans', sans-serif;
  width: 43%;
  padding: var(--size-10);
  margin: var(--size-10);
  border: 1px solid rgb(118, 118, 118, .6);
  border-radius: 0.3125rem;
}

textarea {
  border: 1px solid rgb(118, 118, 118, .6);
  border-radius: 0.3125rem;
  font-family: 'Noto Sans', sans-serif;
  color: rgb(118, 118, 118, .6);
  text-align: left;
  margin-top: var(--size-10);
  margin-bottom: var(--size-10);
}

.hire-us-form form label {
  color: rgb(118, 118, 118, .6);
  font-size: var(--size-14);
  text-align: left; 
}

#getStarted {
  width: 100%;
  border-radius: 0.3125rem;
  margin-top: var(--size-10);
}

/* FOOTER  */

footer {
  margin: auto;
  margin-top: var(--size-200);
  margin-bottom: var(--size-200);
  display: flex;
  align-items: top;
  justify-content: space-between;
  width: 80rem;
}

footer img {
  width: var(--size-200);
}

footer a,
footer i,
footer span {
  color: var(--font-light);
}

.company-list a span {
  background-color: var(--main-blue);
  color: var(--white);
  font-size: var(--size-10);
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  border-radius: 0.3125rem;
}

.front-logo-info div,
.resources-list div {
  margin-top: var(--size-16);
}